#root {
  
  margin: 0 auto;
  
  text-align: center;
}
.page{
  background-color:#37306B ;
 color: white;
}
.glitch-text{
  text-shadow:-2px -2px 0 cyan, 2px 2px 0 magenta;
 font-family: roboto;
}




